@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
}

code {
  font-family: 'Spartan', sans-serif;
}

.container {
  height: 100vh;
  background-image: url('../public/background.jpeg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hotpink;
  padding: 2rem;
  border-style: none;
  border-radius: 1rem;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  text-align: center;
  border-radius: .5rem;
  border-style: none;
  font-size: 1.5rem;
}

.btn {
  border-radius: 1rem;
  border-style: none;
  width: 7rem;
  cursor: pointer;
  margin: 0 auto;
  padding: .5rem;
}

.linkLog {
  margin: 0 auto;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

textarea {
  height: 15rem;
  border-radius: .5rem;
  border-style: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

h1 {
  margin-top: 3rem;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  color: white;
  height: 10rem;
}

main {
  height: 100vh;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  padding: 3rem 3rem 0rem 3rem;
}

select, .expectedSaving {
  display: block;
}

select {
  border: 2px solid black;
}

.finance, .data  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.income, .expectedSaving {
  font-size: 1rem;
  margin: 1rem 0rem 1rem .5rem;
  border: 2px solid black;
}

.spendingData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

.day, .amount {
  width: 5rem;
}

.description {
  width: 20rem;
}

.day, .description, .amount {
  font-size: 1rem;
  border: 2px solid black;
}








/*tablet y ordenador*/

@media (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
  }

  .finance {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    gap: 2rem;
  }
  
  .income, .expectedSaving {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .expectedSaving {
    display: inline;
  }

  .data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    gap: 2rem
  }

  .spendingData {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }
}


