@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Shadows+Into+Light&family=Source+Sans+Pro:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
}

code {
  font-family: 'Spartan', sans-serif;
}

.container {
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  padding: 2rem;
  border-style: none;
  border-radius: 1rem;
}

.cardRegister, .cardLog {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  padding: 2rem;
  border-style: none;
  border-radius: 1rem;
  width: 20rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.cardContact {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  padding: 2rem;
  border-style: none;
  border-radius: 1rem;
}

.dataRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.infoRegistro, .infoLog {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.logIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.messageError {
  display: flex;
  justify-content: center;
  font-weight: 800;
  margin-bottom: 1rem;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  text-align: center;
  border-radius: .5rem;
  border-style: none;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.btn {
  border-radius: 1rem;
  border-style: none;
  width: 7rem;
  cursor: pointer;
  margin: 0 auto;
  padding: .5rem;
  background-color: white;
}
/* 
.linkLog {
  margin: 0 auto;
  cursor: pointer;
} */

.linkLog, .linkNav {
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  margin: 0 auto;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

textarea {
  height: 15rem;
  border-radius: .5rem;
  border-style: none;
  width: 15rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

}

h2 {
  font-family: 'Hi Melody', cursive;
  font-size: 3.5rem;
  font-weight: 100;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: white;
  height: 10rem;
  margin-top: -3rem;
}

main {
  height: 200vh;
  background-color: #fafafa;
  padding: 3rem 3rem 0rem 3rem;
}

select,
.expectedSaving {
  display: block;
}

select {
  border: 2px solid black;
  border-radius: .5rem;
  border-style: none;
  padding: 5px;
}

.finance,
.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.income,
.expectedSaving {
  font-size: 1rem;
  margin: 1rem 0rem 1rem .5rem;
  border: 2px solid black;
}

.dataMonth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spendingData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

.day,
.amount {
  width: 5rem;
}

.description {
  width: 20rem;
}

.day,
.description,
.amount {
  font-size: 1rem;
  border: 2px solid black;
}

.addSpending {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.container-spendings {
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}

.dataSpendings {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  width: 40rem;
  height: 5rem;
  border-radius: 2rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-btnSpendings {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.btnSpendings {
  border-radius: 1rem;
  border-style: none;
  width: 7rem;
  cursor: pointer;
  margin: 0 auto;
  padding: .5rem;
  color: white;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

label {
  color: white;
}

.month {
  color: black;
}

.about {
  height: 100vh;
}

.footer {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.navBar {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}








/*tablet y ordenador*/

@media (min-width: 768px) {
  .navBar {
    display: flex;
    justify-content: space-between;
    height: 5rem;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    padding-right: 3rem;
    margin-top: 0rem;
  }

  main {
    height: 150vh;
    padding: 3rem 3rem 0rem 3rem;
  }

  .finance {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    gap: 2rem;
  }

  .income,
  .expectedSaving {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .expectedSaving {
    display: inline;
  }

  .dataMonth {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
  }

  textarea,
  .data {
    width: 30rem;
  }

  .spendingData {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }

  .container-spendings {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
}