@media (min-width: 768px) {
    .containerSpendings {
        width: 80%;
        margin-top: 3rem;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.75);
    }

    .data-Spendings {
        margin-top: 3rem;
    }

    .spendingType {
        font-size: 1.3rem;
        color: black;
        display: flex;
        justify-content: center;
    }

    .container-inputSpendings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .dayInput,
    .descriptionInput,
    .amountInput {
        width: 10rem;
        height: 1.5rem;
        font-size: 1rem;
        text-align: center;
        border-style: solid;
    }

    .spendingsBtn {
        border-radius: .5rem;
        border-style: none;
        width: 7rem;
        cursor: pointer;
        margin: 0 auto;
        padding: .5rem;
        color: white;
        background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    }
}